{% extends 'user/base.html' %}
{% block body %}
<h1 class="heading"> our <span>products</span> </h1>
<section class="products" id="products">

    <div class="flexCard">
    <div class="swiper product-slider">

        <div class="swiper-wrapper" style="display: flex; justify-content: space-around;">
            {% for c in c %}
            <div class="swiper-slide box">
                <img src="{{c.product.image.url}}" alt="">
                <h3>{{c.product.name}}</h3>
                <div class="price"> RS {{c.product.price}} /- kg </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="{% url 'product' c.product.id%}" class="btn">buy now</a>
            </div>
            {% endfor %}
        </div>

    </div>
    </div>


</section>

<!-- products section ends -->


{% endblock body %}