{% extends 'user/base.html' %}
{% block body %}
<h1 class="heading"> our <span>products</span> </h1>
<section class="products" id="products">

    <div class="flexCard">
    <div class="swiper product-slider">

        <div class="swiper-wrapper" style="display: flex; justify-content: space-around;">

            <div class="swiper-slide box">
                <img src="/image/product-1.png" alt="">
                <h3>fresh orange</h3>
                <div class="price"> RS 200 /- kg </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="../user/product-detail.html" class="btn">buy now</a>
            </div>

            <div class="swiper-slide box">
                <img src="/image/product-2.png" alt="">
                <h3>fresh onion</h3>
                <div class="price"> Rs 50/-kg </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="../user/product-detail.html" class="btn">Buy now</a>
            </div>

            <div class="swiper-slide box">
                <img src="/image/product-3.png" alt="">
                <h3>fresh meat</h3>
                <div class="price"> RS 550/-kg </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="../user/product-detail.html" class="btn">Buy now</a>
            </div>

            <div class="swiper-slide box">
                <img src="/image/product-4.png" alt="">
                <h3>fresh cabbage</h3>
                <div class="price"> RS 80/-kg </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="../user/product-detail.html" class="btn">Buy now</a>
            </div>

        </div>

    </div>
    </div>

    <div class="flexCard">
    <div class="swiper product-slider">

        <div class="swiper-wrapper" style="display: flex; justify-content: space-around;">

            <div class="swiper-slide box">
                <img src="/image/product-5.png" alt="">
                <h3>fresh potato</h3>
                <div class="price"> RS 35/-kg </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="../user/product-detail.html" class="btn">Buy now</a>
            </div>

            <div class="swiper-slide box">
                <img src="/image/product-6.png" alt="">
                <h3>fresh avocado</h3>
                <div class="price"> RS 400/-kg </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="../user/product-detail.html" class="btn">Buy now</a>
            </div>

            <div class="swiper-slide box">
                <img src="/image/product-7.png" alt="">
                <h3>fresh carrot</h3>
                <div class="price"> RS 40/-kg </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="../user/product-detail.html" class="btn">Buy now</a>
            </div>

        </div>

    </div>
    </div>


</section>

<!-- products section ends -->


{% endblock body %}