{% extends 'user/base.html' %}
{% block body %}
<section class="section" style="margin-top: 13em; margin-bottom: 10em;">
    <h1 style="text-align: center;">New Registration</h1>
    <hr>
    {% if messages %}
    <div id="alert" class="alert alert-success text-center" role="alert">
      {% for msg in messages %}
      <h6 class="alert-heading">{{msg}}</h6>
      {% endfor %}
    </div>
    {% endif %}
    <form class="row g-3 mx-5" action="" method="post">
      {% csrf_token %}
      <div class="col-md-6" style="font-size: large;">
        <label for="inputname" class="form-label">Name</label>
        <input type="email" class="form-control" id="inputname" style="font-size: large;">
      </div>
      <div class="col-md-6" style="font-size: large;">
        <label for="inputnumber" class="form-label">number</label>
        <input type="email" class="form-control" id="inputnumber" style="font-size: large;">
      </div>
      <div class="col-md-6" style="font-size: large;">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="inputEmail4" style="font-size: large;">
      </div>
      <div class="col-md-6" style="font-size: large;">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword4" style="font-size: large;">
      </div>
      <div class="col-md-2">
        <label for="inputExperience" class="form-label">Experience</label>
        <input type="text" name="Experience" class="form-control" id="inputExperience">
      </div>
      <div class="col-12" style="font-size: large;">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" style="font-size: large;">
      </div>
      <div class="col-12" style="font-size: large;">
        <label for="inputAddress2" class="form-label">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" style="font-size: large;">
      </div>
      <div class="col-md-6" style="font-size: large;">
        <label for="inputCity" class="form-label">City</label>
        <input type="text" class="form-control" id="inputCity" style="font-size: large;">
      </div>
      <div class="col-md-4" style="font-size: large;">
        <label for="inputState" class="form-label">State</label>
        <select id="inputState" class="form-select" style="font-size: large;">
          <option selected>Choose...</option>
          <option value="Andhra Pradesh">Andhra Pradesh</option>
          <option value="Arunachal Pradesh">Arunachal Pradesh</option>
          <option value="Assam">Assam</option>
          <option value="Bihar">Bihar</option>
          <option value="Chhattisgarh">Chhattisgarh</option>
          <option value="Goa">Goa</option>
          <option value="Gujarat">Gujarat</option>
          <option value="Haryana">Haryana</option>
          <option value="Himachal Pradesh">Himachal Pradesh</option>
          <option value="Jharkhand">Jharkhand</option>
          <option value="Karnataka">Karnataka</option>
          <option value="Kerala">Kerala</option>
          <option value="Madhya Pradesh">Madhya Pradesh</option>
          <option value="Maharashtra">Maharashtra</option>
          <option value="Manipur">Manipur</option>
          <option value="Meghalaya">Meghalaya</option>
          <option value="Mizoram">Mizoram</option>
          <option value="Nagaland">Nagaland</option>
          <option value="Odisha">Odisha</option>
          <option value="Punjab">Punjab</option>
          <option value="Rajasthan">Rajasthan</option>
          <option value="Sikkim">Sikkim</option>
          <option value="Tamil Nadu">Tamil Nadu</option>
          <option value="Telangana">Telangana</option>
          <option value="Tripura">Tripura</option>
          <option value="Uttar Pradesh">Uttar Pradesh</option>
          <option value="Uttarakhand">Uttarakhand</option>
          <option value="West Bengal">West Bengal</option>
        </select>
      </div>
      <div class="col-md-2" style="font-size: large;">
        <label for="inputZip" class="form-label">Zip</label>
        <input type="text" class="form-control" id="inputZip" style="font-size: large;">
      </div>
      <div class="col-md-4" style="font-size: large;">
        <label for="inputZip" class="form-label">Type</label>
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="font-size: large;" name="job_type">
          <option selected>Open this select menu</option>
          <option value="1">cashier</option>
          <option value="2">staff</option>
          <option value="3">cleaner</option>
          <option value="4">manager</option>
        </select>
      </div>
      <!-- <div class="col-md-4">
        <label for="inputCname" class="form-label">Company Name</label>
        <input type="text" class="form-control" id="inputCname">
      </div>
      <div class="col-md-4">
        <label for="inputcode" class="form-label">Company code</label>
        <input type="text" class="form-control" id="inputcode">
      </div> -->
      <div class="col-12" style="font-size: large;">
        <button type="submit" style="background-color: orange; padding: .5em;">Create</button>
      </div>
    </form>
  </section>
<hr>
  <!-- footer section starts  -->
  {% endblock body %}