{% extends 'hod/base.html' %}
{% block body %}
<section style="margin-top: 12em;">
  <h1 style="text-align: center;">Edit item</h1>
  <hr>
          <form class="row g-3 mx-5" action="" method='post' style="display: grid; place-items: center; margin-top: 3em; ">
            {% csrf_token %}
            <div class="col-md-6">
              <input type="text" class="form-control FMproname" name="name" value="{{p.name}}" placeholder="Product Name"  style="font-size: large;">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control FMprocost" name="cost" value="{{p.price}}" Placeholder="Product Cost"  style="font-size: large;">
            </div>
            <div class="col-md-6">
              <textarea type="phoneNum" class="form-control FMprotype" name="description"  placeholder="Product description"  style="font-size: large;">{{p.description}}
              </textarea>
            </div>
            <div class="input-group">
              <input type="file" class="form" id="inputGroupFile01" style="font-size: large; padding-left: 296px;">
            </div>
            <div class="col-6">
              <button class="btn" style="font-size: large; color: white;background-color:  var(--orange);">update</button>
            </div>
            
          </form>
        </div>
      </div>
    </div>
</section>
<!-- section end -->



{% endblock body %}