{% extends 'hod/base.html' %}
{% block body %}
<!-- header section ends -->
<!-- home section starts  -->

<section class="home" id="home">
    <div class="content">
        <h3>fresh and <span>organic</span> products for your</h3>
        <p>We're always up to your standards.</p>
        <a href="#" class="btn">shop now</a>
    </div>

</section>

<!-- home section ends -->

<!-- features section starts  -->

<section class="features" id="features">

    <h1 class="heading"> our <span>features</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="/image/feature-img-1.png" alt="">
            <h3>fresh and organic</h3>
            <p>Eat natural - Eat Organic </p>
            <a href="#" class="btn">read more</a>
        </div>

        <div class="box">
            <img src="/image/feature-img-2.png" alt="">
            <h3>free delivery</h3>
            <p>Get Free Shipping on all orders!</p>
            <a href="#" class="btn">read more</a>
        </div>

        <div class="box">
            <img src="/image/feature-img-3.png" alt="">
            <h3>easy payments</h3>
            <p> 

            </p>
            <a href="#" class="btn">read more</a>
        </div>

    </div>

</section>

<!-- features section ends -->

<!-- products section starts  -->
<h1 class="heading"> our <span>products</span> </h1>
<section class="products" id="products">

    <div class="flexCard">
    <div class="swiper product-slider">

        <div class="swiper-wrapper" style="display: flex; justify-content: space-around;">

            <div class="swiper-slide box">
                <img src="/image/product-1.png" alt="">
                <h3>fresh orange</h3>
                <div class="price"> RS 200 /- kg </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="swiper-slide box">
                <img src="/image/product-2.png" alt="">
                <h3>fresh onion</h3>
                <div class="price"> Rs 50/-kg </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="swiper-slide box">
                <img src="/image/product-3.png" alt="">
                <h3>fresh meat</h3>
                <div class="price"> RS 550/-kg </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="swiper-slide box">
                <img src="/image/product-4.png" alt="">
                <h3>fresh cabbage</h3>
                <div class="price"> RS 80/-kg </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">add to cart</a>
            </div>

        </div>

    </div>
    </div>

    <div class="flexCard">
    <div class="swiper product-slider">

        <div class="swiper-wrapper" style="display: flex; justify-content: space-around;">

            <div class="swiper-slide box">
                <img src="/image/product-5.png" alt="">
                <h3>fresh potato</h3>
                <div class="price"> RS 35/-kg </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="swiper-slide box">
                <img src="/image/product-6.png" alt="">
                <h3>fresh avocado</h3>
                <div class="price"> RS 400/-kg </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="swiper-slide box">
                <img src="/image/product-7.png" alt="">
                <h3>fresh carrot</h3>
                <div class="price"> RS 40/-kg </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="swiper-slide box">
                <img src="/image/product-8.png" alt="">
                <h3>green lemon</h3>
                <div class="price"> RS 10/- </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn">add to cart</a>
            </div>

        </div>

    </div>
    </div>


</section>

<!-- products section ends -->

<!-- categories section starts  -->

<section class="categories" id="categories">

    <h1 class="heading"> product <span>categories</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="/image/cat-1.png" alt="">
            <h3>vegitables</h3>
            <p>upto 45% off</p>
            <a href="#" class="btn">shop now</a>
        </div>

        <div class="box">
            <img src="/image/cat-2.png" alt="">
            <h3>fresh fruits</h3>
            <p>upto 45% off</p>
            <a href="#" class="btn">shop now</a>
        </div>

        <div class="box">
            <img src="/image/cat-3.png" alt="">
            <h3>dairy products</h3>
            <p>upto 45% off</p>
            <a href="#" class="btn">shop now</a>
        </div>

        <div class="box">
            <img src="/image/cat-4.png" alt="">
            <h3>fresh meat</h3>
            <p>upto 45% off</p>
            <a href="#" class="btn">shop now</a>
        </div>

    </div>

</section>

<!-- categories section ends -->




{% endblock body %}